@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Maitree:wght@200;500&family=Prompt:wght@200;300;400;500;600&family=Rokkitt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color: #f5a8e4;
    height: 100px;
    width: 100%;
    color: #120e11;
}

body {
    font-family: 'Maitree', serif;
    font-weight: 200;
    color: #120E11;
    /* background-color: white; */
}

h1 {
    font-family: 'Prompt', serif;
    font-weight: 300;
    font-size: 200%;
    letter-spacing: 6px;
}
.contrast-h1 {
    line-height: 90px;
    font-size: 200%;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}
h2,
nav {
    font-family: 'Prompt', serif;
    font-weight: 200;
}

h3 {
    font-family: 'Dancing Script', serif;
    font-weight: 100;
    color: #120E11;
}

/* Postion nav element absolute */
nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

#logo-and-title {
    float: left;
    width: 50%;
    line-height: 35px;
    margin-top: 2vmin;
}

#logo {
    float: left;
    height: 60px;
    padding: 0 2vmin;
}

#menu {
    line-height: 75px;
}

#menu li {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #313e47;
    opacity: 0.6;
}

.active {
    font-weight: 400;
    text-shadow: 0.5px 0.5px lightgray;
}

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

#sign-up-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.9em;
    background-color: #B8D3D0;
    bottom: 2vmin;
    right: 6vmin;
    position: absolute;
    border: 2px solid #313E47;
    opacity: 0.9;
}

#sign-up-circle:hover {
    font-weight: 500;
    width: 151px;
    height: 151px;
    border: 3px solid grey;
    opacity: 0.9;
    cursor: pointer;

}

#sign-up-text {
    margin: 10px;
    padding-top: 20px;
}

.info-section {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    text-align: center;
}

.info-section h1 {
    margin-bottom: 20px;
    line-height: 75px;
    font-size: 200%;
    letter-spacing: 4px;
}

.info-container {
    width: 50%;
    height: 77%;
    background-color: #B8D3D0;
    border-radius: 20px;
    float: left;
    margin-left: 7.5%;
    position: relative;
}

.info-container p {
    position: absolute;
    margin: 0 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 120%;
    text-align: justify;

}

.info-images {
    aspect-ratio: 1 / 1;
    height: 72%;
    object-fit: cover;
    margin-right: 7.5%;
    border-radius: 50%;
    float: right;
    border: 10px solid #B8D3D0
}

#info-section-middle {
    background-image: url('../images/balls-of-yarn.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#info-image-middle {
    aspect-ratio: 1 / 1;
    height: 72%;
    object-fit: cover;
    margin-left: 7.5%;
    margin-right: 2%;
    border-radius: 50%;
    float: left;
    border: 10px solid #B8D3D0
}

#info-container-middle {
    width: 50%;
    height: 77%;
    background-color: #B8D3D0;
    border-radius: 20px;
    float: right;
    margin-right: 7.5%;
    position: relative;
}

#info-container-middle ul {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    top: 50%;
    transform: translateY(-50%);
}

#info-container-middle i {
    margin: 0 10px;
}

#info-container-middle li {
    text-align: left;
    padding-left: 20px;
    text-indent: -20px;
    margin: 0 auto;
    font-size: 120%;
    list-style-type: none;
    line-height: 45px;
}

#info-section-bottom {
    width: 100%;
    height: 425px;
    margin: 20px 0 75px 0;
    text-align: center;
}

#info-section-bottom h1 {
    margin-bottom: 20px;
    line-height: 75px;
    font-size: 200%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 7vmin;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5a8e4;
    color: #313e47;
    text-align: center;
    overflow: hidden;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 15px 3.5% 0 1.5%;
    color: #120E11;
}

.social-networks i:hover {
    color: rgba(0, 0, 0, 0.3);
}
/* Styling for Get Started page. */

.intro-section {
    height: 550px;
    background-image: url('../images/balls-of-yarn.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;    

}
.blur {
    backdrop-filter: blur(4px);
    height: 100%;
}
.intro-section span {
    font-weight: bold;
}

.tuition-sections {
    height: 650px;
}

.tuition-sections h1 {
    text-align: center;
    line-height: 90px;
    font-size: 200%;
    letter-spacing: 4px;
}



.bottom-section {
    background-image: url('../images/balls-of-yarn.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
}

/* Assign names to grid areas */
#wyn-a1 {
    grid-area: a1;
}
#wyn-b1 {
    grid-area: b1;
}
#wyn-a2 {
    grid-area: a2;
}
#wyn-b2 {
    grid-area: b2;
}
#wyn-a3 {
    grid-area: a3;
}
#wyn-b3 {
    grid-area: b3;
}
#wyn-a4 {
    grid-area: a4;
}
#wyn-b4 {
    grid-area: b4;
}

#hh-a1 {
    grid-area: a1;
}
#hh-b1 {
    grid-area: b1;
}
#hh-a2 {
    grid-area: a2;
}
#hh-b2 {
    grid-area: b2;
}
#hh-a3 {
    grid-area: a3;
}
#hh-b3 {
    grid-area: b3;
}


#fs-a1 {
    grid-area: a1;
}
#fs-b1 {
    grid-area: b1;
}
#fs-a2 {
    grid-area: a2;
}
#fs-b2 {
    grid-area: b2;
}
#fs-a3 {
    grid-area: a3;
}
#fs-b3 {
    grid-area: b3;
}

.four-photo-grid {
    margin: 0 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 160px;
    column-gap: 35px;
    row-gap: 40px;
    backdrop-filter: blur(10px);
    grid-template-areas:
    "a1 a2 a3 a4"
    "b1 b2 b3 b4";
}



.three-photo-grid {
    margin: 0 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 290px 200px;
    column-gap: 35px;
    row-gap: 40px;
     grid-template-areas:
        "a1 a2 a3"
        "b1 b2 b3";
}

.instruction-images-container {
    margin: 0 auto;
}
.instruction-images {
    aspect-ratio: 1 / 1;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #B8D3D0;
    margin: 0 auto;
}

.instructions-container {
    width: 96%;
    height: 96%;
    background-color: #B8D3D0;
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

.instructions-container p {
    position: absolute;
    margin: 0 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100%;
    text-align: justify;
}

.step-numbers {
    top: 10px;
    left: 10px;
    height: 75px;
    width: 75px;
    background-color: #B8D3D0;
    border: 2px solid #120E11;
    border-radius: 50%;
    float: left;
}

.step-numbers-text {
    margin: 13px;
    padding-top: 10px;
    font-weight: bold;
}


/* Styling for media screens */

@media screen and (max-width:1200px) {
  /* Styling for home page max screen width 1200px */
    h1 {
        font-size: 150%;
        letter-spacing: 4px;
    }

    h3 {
        font-size: 90%;
    }

    #menu li {
        font-size: 100%;
        margin-right: 20px;
    }

    .info-container {
        width: 55%;
        margin-left: 3%;
    }

    .info-container p {
        font-size: 105%;
    }

    .info-images {
        margin-right: 3%;
    }

    #info-container-middle {
        width: 55%;
        margin-right: 3%;
    }

    #info-image-middle {
        margin-left: 3%;
    }

    #info-container-middle li {
        font-size: 110%;
        margin-right: 7.5%;
    }

      /* Styling for get started page max screen width 1200px */
      .intro-section {
        height: 1450px;
    }
      .four-photo-grid {
        margin: 0 5vmin;
        grid-template-areas:
        "a1 b1"
        "a2 b2"
        "a3 b3"
        "a4 b4";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px;
        grid-auto-rows: 300px;
    }

    .three-photo-grid {
        margin: 0 5vmin;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px 300px;
         grid-template-areas:
            "a1 b1"
            "a2 b2"
            "a3 b3";
    }

    #bottom-section-grid {
        margin: 0 5vmin;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px 300px;
         grid-template-areas:
            "a1 b1"
            "a2 b2"
            "a3 b3";
    }

    .instructions-container {
        height: 66%;
        margin: auto;
    }

    .instructions-container p {
        font-size: max(120%, 2vmin);
    }
    .instruction-images-container {
        padding-right:45px;
    }
    
    .tuition-sections {
        height: 1100px;
    }

    .step-numbers {
        height:65px;
        width: 65px;
    }

    .step-numbers-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
      /* Styling for get home page max screen width 950px */
    
    #hero-outer {
        height: 300px;
    }

    #sign-up-circle {
        width: 100px;
        height: 100px;
        font-size: 0.55em;
        background-color: #B8D3D0;
        bottom: 1vmin;
        right: 1vmin;
        position: absolute;
        border: 2px solid #313E47;
        opacity: 0.9;
    }

    #sign-up-circle:hover {
        width: 100px;
        height: 100px;
    }

    #sign-up-text {
        padding-top: 10px;
    }

    .info-section {
        height: min(160vmin, 145vmax);
    }

    .info-section h1 {
        line-height: 50px;
        margin-bottom: 3vmin;
        font-size: 6vmin;
        letter-spacing: 2px;
        padding-top: 5px;
    }

    .info-container {
        float: none;
        margin: 0 auto;
        width: 95%;
        height: 80vmin
    }

    .info-container p {
        font-size: 3.75vmin;
    }

    .info-images {
        float: none;
        height: 50vmin;
        margin: 0 auto;
        margin-top: 20px;
    }
    #info-section-middle {
        height: min(163vmin, 150vmax);
    }
    #info-image-middle {
        float: none;
        height: 50vmin;
        margin: 0 auto;
    }

    #info-container-middle {
        float: none;
        margin: 0 auto;
        width: 95%;
        font-size: 3.75vmin;
        height: 80vmin;
        margin-top: 10px;
    }

    #info-container-middle li {
        line-height: 7vmin;
    }

    #info-section-bottom {
        height: 144vmin;
    }

    #info-section-bottom h1 {
        margin-bottom: 3vmin;
        line-height: 50px;
        font-size: 5vmin;
        letter-spacing: 2px;
    }
    footer {
        height: 50px;
    }

    /* Styling for get started page max screen width 950px */
   .four-photo-grid {
    margin: 0 5px;
   }
   .three-photo-grid {
    margin: 0 5px;
   }
   #bottom-section-grid {
        margin: 0 5px;
   }
    .instructions-container {
        margin-left: -5%;
        width: 100%;
    }    

    .instruction-images-container {
        padding-right: 0;
        margin: 0 auto;
    }

    .instruction-images {
        height: 90%;
    }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
    .info-section {
        height: 140vmin;
    }
    .info-container {
        height: max(60vmin, 5vmax);
    }

    .info-container p {
        font-size: min(4.5vmin, 3vmax);
    }
    #info-section-middle {
        height: 158vmin;
    }
    #info-container-middle {
        height: 75vmin;
    }

    #info-container-middle li {
        font-size: max(3.75vmin, 2.5vmax);
        line-height: max(9vmin, 5vmax);
        margin-right: 2%;
    }

    #info-section-bottom {
        height: 130vmin;
    }
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 100%;
        letter-spacing: 1px;
        margin-top: 10px;
    }

    h3 {
        font-size: 80%;
    }

    #logo-and-title {
        width: 66%;
        margin-top: 13px;
        line-height: 25px;
    }

    #logo {
        height: 50px;
        margin-top: 7.5px;
    }

    nav {
        position: inherit;
        float: right;
        margin-top: 8px;
    }

    #menu {
        line-height: 20px;
    }

    #menu li {
        font-size: 0.85rem;
        padding: 5px;
        display: block;
    }

    #info-section-bottom {
        height: 152vmin;
    }

    footer {
        height: 45px;
    }

    .social-networks i {
        font-size: 140%;
        margin: 15px 15px 0 15px;
        color: #3a3a3a;
    }

/* Styling for get started page max screen width 750px */

.intro-section {
    height:1400px;
}    
.intro-section h1 {
        margin-top: 0px;
        line-height: 50px;
        font-size: 150%;
    }
   .instructions-container{
    margin-left: 0;
    margin: 0 auto;
    height:90%;
   }

    .instructions-container p {
        font-size: min(100%,3.35vmin);
    }

 
    .four-photo-grid {
            margin: 0 5vmin;
            grid-template-areas:
            "a1"
            "b1"
            "a2"
            "b2"
            "a3"
            "b3"
            "a4"
            "b4";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 200px 110px;
            grid-auto-rows: 200px 110px;
            row-gap: 10px;
        }
        .three-photo-grid {
            margin: 0 5vmin;
            grid-template-areas:
            "a1"
            "b1"
            "a2"
            "b2"
            "a3"
            "b3";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 200px 110px;
            grid-auto-rows: 200px 110px;
            row-gap: 10px;
        }

        #bottom-section-grid {
            margin: 0 5vmin;
            grid-template-areas:
            "a1"
            "b1"
            "a2"
            "b2"
            "a3"
            "b3";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 200px 110px;
            grid-auto-rows: 200px 110px;
            row-gap: 10px;
        }
        .tuition-sections{
            height:1050px;
        }
        .tuition-sections h1 {
            margin-top: 0px;
            line-height: 50px;
            font-size: 150%;
        }
        #hh-a1, #hh-a2, #hh-a3, #fs-a1, #fs-a2, #fs-a3 {
           padding-right:8.5%
        }     
        .bottom-section {
            margin-bottom: 30px;
        }
}