@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200&family=Prompt:wght@200;300;400&family=Rokkitt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    background-color: #f5a8e4;
    height: 10vh;
    width: 100%;
    color: #313E47;
}

body {
    font-family: 'Maitree', serif;
    font-weight: 200;
    color: #313E47;
}
h1 {
    font-family: 'Prompt', serif;
    font-weight: 300;
    font-size: 250%;
    letter-spacing: 4px;
}
h2, nav {
    font-family: 'Prompt', serif;
    font-weight: 200;
}

h3 {
    font-family: 'Rokkitt', serif;
    font-weight: 100;
    color: #313E47;
}

nav {
    position: absolute;
    top: 10px;
    right: 20px;
}
#logo-and-title {
    float: left;
    width: 40%;
    line-height: 35px;
    margin-top:13px;
}

#logo {
    float: left;
    height: 60px;
    padding: 0 30px 20px 30px;
}

#menu {
    font-size: 130%;
    line-height: 75px;   
}

#menu li {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #313e47;
    opacity: 0.6;
}

.active {
    font-weight: 400;
    text-shadow: 0.5px 0.5px lightgray;
}

#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}
#sign-up-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.9em;
    background-color: #B8D3D0;
    bottom: 30px;
    right: 75px;
    position: absolute;
    border: 2px solid #313E47;
    opacity: 0.8;
}

#sign-up-circle:hover{
    border: 2px solid #fff;
}
#sign-up-text {
margin: 10px;
padding-top: 20px;
}

footer {
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f5a8e4;
    color: #313e47;
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1.5%;
    color: #3a3a3a;
}

.social-networks i:hover {
    color: rgba(0, 0, 0, 0.3);
}